.main{
    .main-content{
        width: 1400px;
        margin: 0 auto;
        padding-top: 60px;
        padding-bottom: 2px;
        @media (max-width: 1440px){
            width: -webkit-fill-available;
            padding: 0 15px;
        }
    }
}