.loading-center{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    @keyframes ldio-35h396lynbq {
        0% { opacity: 1 }
        100% { opacity: 0 }
      }
      .ldio-35h396lynbq div {
        left: 95.475px;
        top: 48.239999999999995px;
        position: absolute;
        animation: ldio-35h396lynbq linear 0.9900990099009901s infinite;
        background: #02851a;
        width: 10.049999999999999px;
        height: 24.119999999999997px;
        border-radius: 5.0249999999999995px / 12.059999999999999px;
        transform-origin: 5.0249999999999995px 52.25999999999999px;
      }.ldio-35h396lynbq div:nth-child(1) {
        transform: rotate(0deg);
        animation-delay: -0.9075907590759075s;
        background: #02851a;
      }.ldio-35h396lynbq div:nth-child(2) {
        transform: rotate(30deg);
        animation-delay: -0.825082508250825s;
        background: #02851a;
      }.ldio-35h396lynbq div:nth-child(3) {
        transform: rotate(60deg);
        animation-delay: -0.7425742574257426s;
        background: #02851a;
      }.ldio-35h396lynbq div:nth-child(4) {
        transform: rotate(90deg);
        animation-delay: -0.6600660066006601s;
        background: #02851a;
      }.ldio-35h396lynbq div:nth-child(5) {
        transform: rotate(120deg);
        animation-delay: -0.5775577557755776s;
        background: #02851a;
      }.ldio-35h396lynbq div:nth-child(6) {
        transform: rotate(150deg);
        animation-delay: -0.495049504950495s;
        background: #02851a;
      }.ldio-35h396lynbq div:nth-child(7) {
        transform: rotate(180deg);
        animation-delay: -0.4125412541254125s;
        background: #02851a;
      }.ldio-35h396lynbq div:nth-child(8) {
        transform: rotate(210deg);
        animation-delay: -0.33003300330033003s;
        background: #02851a;
      }.ldio-35h396lynbq div:nth-child(9) {
        transform: rotate(240deg);
        animation-delay: -0.2475247524752475s;
        background: #02851a;
      }.ldio-35h396lynbq div:nth-child(10) {
        transform: rotate(270deg);
        animation-delay: -0.16501650165016502s;
        background: #02851a;
      }.ldio-35h396lynbq div:nth-child(11) {
        transform: rotate(300deg);
        animation-delay: -0.08250825082508251s;
        background: #02851a;
      }.ldio-35h396lynbq div:nth-child(12) {
        transform: rotate(330deg);
        animation-delay: 0s;
        background: #02851a;
      }
      .loadingio-spinner-spinner-8aeuyzvtaf4 {
        width: 201px;
        height: 201px;
        display: inline-block;
        overflow: hidden;
        background: none;
      }
      .ldio-35h396lynbq {
        width: 100%;
        height: 100%;
        position: relative;
        transform: translateZ(0) scale(1);
        backface-visibility: hidden;
        transform-origin: 0 0; /* see note above */
      }
      .ldio-35h396lynbq div { box-sizing: content-box; }
      
}